<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Page.Title - My ASP.NET Web Page</title>
        <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <script src="~/Scripts/jquery-1.8.2.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.8.24.js"></script>
        <script src="~/Scripts/modernizr-2.6.2.js"></script>
        <script>
            $( function() {
                $( "#datepicker" ).datepicker({ dateFormat: 'yy/mm/dd' });
            } );
        </script>
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
  
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title"><a href="~/">uppgift 3</a></p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @if (WebSecurity.IsAuthenticated) {
                            // user 'log out' panel
                            <text>
                                @{
                                    var data = Database.Open("sp3").QuerySingle(
                                        "SELECT ui.firstname, r.rolename"
                                        +" FROM userinfo AS ui"
                                        +" JOIN webpages_UsersInRoles AS uir"
                                        +" ON uir.userid=ui.userid"
                                        +" JOIN webpages_roles AS r"
                                        +" ON uir.roleid=r.roleid"
                                        +" WHERE ui.userid=(@0)", WebSecurity.CurrentUserId);

                                }
                                <span>@data.firstname (@data.rolename)</span>
                                <form id="logoutForm" action="~/Account/Logout" method="post">
                                    @AntiForgery.GetHtml()
                                    <a href="javascript:document.getElementById('logoutForm').submit()"
                                       onclick="if(!confirm('confirm log out')){return false;}">Log out</a>
                                </form>
                            </text>
                        } else {
                            // user 'log in' panel
                            <ul>
                                <li><a href="~/Account/Login">Log in</a></li>
                            </ul>
                        }
                    </section>
                    <nav>
                        <ul id="menu">
                             @{
                                // add link to every role page of current user
                                if(WebSecurity.IsAuthenticated){
                                    foreach(String role in Roles.GetRolesForUser()){
                                        <li><a href="~/@role">@role</a></li>
                                    }
                                }   
                             }
                            <li><a href="~/">Home</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Säker programmering, 7.5hp Uppsala universitet</p>
                </div>
            </div>
        </footer>
        @RenderSection("Scripts", required: false)
    </body>
</html>